.services-offer-section {
    position: relative;
    padding: 0;
    z-index: 10;
    background: #fafbfb;
    justify-content: center;
}

.services-offer-container {
    width: 100%;
    height: auto;
}

.services-offer-bg {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
}

.services-offer-content {
    text-align: left;
    display: flex;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: #fff;
    z-index: 2;
}

.services-offer-content.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-offer-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.services-offer-desc {
    font-size: 20px;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .services-offer-section {
        justify-content: center;
    }

    .services-offer-title {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .services-offer-desc {
        font-size: 18px;
        margin-bottom: 28px;
    }

    .services-offer-content {
        padding: 24px 0 0 0;
    }
}

@media (max-width: 992px) {
    .services-offer-title {
        margin-bottom: 6px;
    }

    .services-offer-desc {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .services-offer-content {
        padding: 12px 0 0 0;
    }

    .services-offer-title,
    .services-offer-desc {
        margin-left: 2%;
    }
}

@media (max-width: 768px) {
    .services-offer-content {
        position: absolute;
        left: 0;
        margin-top: -5%;
        width: 100%;
        height: 100%;
        color: white;
        z-index: 2;
        box-sizing: border-box;
    }
}

@media (max-width: 600px) {
    .services-offer-section {
        min-height: unset;
        top: 0;
        padding: 10px;
    }

    .services-offer-banner {
        position: relative;
        padding: 10px;
    }

    .services-offer-bg {
        height: 180px;
        border-radius: 24px;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .services-offer-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        color: white;
        z-index: 2;
        box-sizing: border-box;
    }

    .services-offer-title,
    .services-offer-desc {
        text-align: center;
        color: white;
        padding: 0 5px;
    }

    .services-offer-title {
        font-size: 2.8rem;
        background: linear-gradient(135deg, #1de782 0%, #17c1bc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .services-offer-desc {
        font-size: 1.4rem;
    }
}